parameters:
    level: max
    paths:
        - legacy
        - src
    tmpDir: %currentWorkingDirectory%/cache/phpstan

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Call to sprintf contains#'

includes:
    - phpstan-baseline.neon
