parameters:
	ignoreErrors:
		-
			message: "#^Function isBadFunction\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: legacy/bad_file.php

		-
			message: "#^Function isBadFunction\\(\\) has parameter \\$thisHasNoType with no typehint specified\\.$#"
			count: 1
			path: legacy/bad_file.php

		-
			message: "#^Function isBadFunction\\(\\) has parameter \\$whatIsInsideWeDoNotKnow with no value type specified in iterable type array\\.$#"
			count: 1
			path: legacy/bad_file.php

